---
import CV from "../components/CV";
import DefaultLayout from "../layouts/DefaultLayout.astro";
---

<DefaultLayout title="CV">
  <div class="container">
    <CV client:only="react" />
  </div>
</DefaultLayout>
