---
import ActionButtons from "./ActionButtons.astro";
---

<div class="container">
  <div
    class="my-12 flex flex-col items-center gap-12 rounded-xl bg-[var(--primary-100)] p-12 dark:bg-[var(--primary-500)] md:gap-16 md:p-16"
  >
    <p class="text-center text-3xl md:text-5xl">
      Get to know <span class="text-[var(--primary-300)] dark:text-[var(--primary-100)]">me</span> and <span
        class="text-[var(--secondary-200)] dark:text-[var(--secondary-100)]">my work</span
      > a little better
    </p>
    <ActionButtons />
  </div>
</div>

<style lang="scss">
  .icon-parent:hover .logo-icon {
    color: var(--action-color-state);
  }

  .logo-icon {
    color: var(--action-color);
    width: 40px !important;
  }
</style>
