---
import CallToAction from "./CallToAction.astro";

type Props = {
  showCallToAction?: boolean;
};

const { showCallToAction = false } = Astro.props;

const currentYear = new Date().getFullYear();
---

<footer>
  {showCallToAction && <CallToAction />}
  <section class="py-8">
    <div class="container flex flex-col justify-between md:flex-row">
      <span> &copy; {currentYear} - HUP's Portfolio.</span><span>
        Made with ❤️ by <a href="https://github.com/henriqueup">Henrique Urban Pessoa</a>
      </span>
    </div>
  </section>
</footer>
