---
import ActionButtons from "./ActionButtons.astro";
---

<section class="hero my-24">
  <div class="container">
    <div class="flex flex-col-reverse items-center gap-8 md:flex-row">
      <div class="flex w-min flex-col items-center gap-8 md:w-1/2 md:items-start">
        <div class="flex w-full flex-col items-start gap-2 md:gap-4">
          <h1 class="text-6xl text-[var(--action-color)] md:text-8xl">hup</h1>
          <p class="text-2xl italic md:text-4xl">exclamation</p>
          <p class="text-xl font-bold md:text-2xl">"used as a way of encouraging a marching rhythm"</p>
        </div>
        <ActionButtons />
      </div>
      <img class="w-1/2 rounded-full" src="/profile.jpg" alt="" decoding="async" />
    </div>
  </div>
</section>
